@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-shadow: 0 3px 10px #dddcdc;
  --create-shadow: 0 3px 40px #797878;
  --create-input-shadow: 0 3px 10px #797878;
  --btn-color: #5500f3;
  --dim: #d1d1d1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
  transition: all .3s;
}
body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-nunito), sans-serif;
}
.loginbutton {
  background-color: transparent;
  border: 2px solid #a8a8a8;
}
.loginbutton:hover{
  border: 2px solid #000;
}
.signupbutton {
  color: #fff;
}
.signupbutton:hover{
  background-color: #000;
}
.searchfocus:focus-within {
  border: 2px solid #000;
}
.activelink {
  border-bottom: 2px solid var(--btn-color);
  border-radius: 2px;
}
